<html class="no-js" xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>Gossipline | Admin Panel</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="../image/x-icon" href="../img/favicon.png"/>
    <!-- Normalize CSS -->
    <link rel="stylesheet" href="../css/normalize.css"/>
    <!-- Main CSS -->
    <link rel="stylesheet" href="../css/main.css"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="../css/all.min.css"/>
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="../fonts/flaticon.css"/>
    <!-- Full Calender CSS -->
    <link rel="stylesheet" href="../css/fullcalendar.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="../css/animate.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../css/style.css"/>
    <!-- Modernize js -->
    <script src="../js/modernizr-3.6.0.min.js"></script>
     <style>
    
	  #loader {
	  height: 100% !important;
	  overflow: visible;
	  position: fixed;
	  top: 0;
	  left: 0;
	  width: 100%;
	  z-index: 9999999;
	  background: rgba(255,255,255,.5);
	  text-align: center;
	}
	
	#loader svg{
	  position: fixed;
	  top:50%;
	  left: 50%;
	  transform: translate(-50%,-50%);
	}
    </style>
</head>
<body>
     
     <div th:if="${session.email==null}">
           <script>
               window.location.href='/'; 
          </script>
     </div>
    <div id="wrapper" class="wrapper bg-ash">
       <!-- Header Menu Area Start Here -->
        <div class="navbar navbar-expand-md header-menu-one bg-light">
            <div class="nav-bar-header-one">
                <div class="header-logo">
                    <a href="../dashboard.html">
                        <img src="../img/Gossip-Line- Logo.jpg" width="192px" alt="logo"/>
                     </a>   
                </div>
                 <div class="toggle-button sidebar-toggle">
                    <button type="button" class="item-link">
                        <span class="btn-icon-wrap">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="d-md-none mobile-nav-bar">
               <button class="navbar-toggler pulse-animation" type="button" data-toggle="collapse" data-target="#mobile-navbar" aria-expanded="false">
                    <i class="far fa-arrow-alt-circle-down"></i>
                </button>
                <button type="button" class="navbar-toggler sidebar-toggle-mobile">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
            <div class="header-main-menu collapse navbar-collapse" id="mobile-navbar">
                <ul class="navbar-nav">
                    <li class="navbar-item header-search-bar">
                        <div class="input-group stylish-input-group">
                            <span class="input-group-addon">
                                <button type="submit">
                                    <span class="flaticon-search" aria-hidden="true"></span>
                                </button>
                            </span>
                            <input type="text" class="form-control" placeholder="Find Something . . ."/>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="navbar-item dropdown header-admin">
                        <a class="navbar-nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                            aria-expanded="false">
                            <div class="admin-title">
                                <h6 class="item-title" th:text="${session.adminName}"></h6>
                                <span>Admin</span>
                            </div>
                            <div class="admin-img">
                                <img src="../img/figure/admin.jpg" alt="Admin"/>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="item-header">
                                <h6 class="item-title" th:text="${session.adminName}"></h6>
                            </div>
                            <div class="item-content">
                                <ul class="settings-list">
                                    <li><a href="../profile.html"><i class="flaticon-user"></i>My Profile</a></li>
                                    <!-- <li><a href="#"><i class="flaticon-list"></i>Task</a></li>
                                    <li><a href="#"><i class="flaticon-chat-comment-oval-speech-bubble-with-text-lines"></i>Message</a></li>
                                    <li><a href="#"><i class="flaticon-gear-loading"></i>Account Settings</a></li> -->
                                     <li><a href="../logout"><i class="flaticon-turn-off"></i>Log Out</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    
                </ul>
            </div>
        </div>
        <!-- Header Menu Area End Here -->
        <!-- Page Area Start Here -->
        <div class="dashboard-page-one">
            <!-- Sidebar Area Start Here -->
            <div class="sidebar-main sidebar-menu-one sidebar-expand-md sidebar-color">
               <div class="mobile-sidebar-header d-md-none">
                    <div class="header-logo">
                        <!-- <a href="index-2.html"><img src="img/logo1.png" alt="logo"></a> -->
                    </div>
               </div>
                <div class="sidebar-menu-content">
                    <ul class="nav nav-sidebar-menu sidebar-toggle-view">
                        <li class="nav-item">
                            <a href="../dashboard.html" class="nav-link"><i class="flaticon-dashboard"></i><span>Dashboard</span></a>
                        </li>
                          <li class="nav-item sidebar-nav-item">
                            <a href="#" class="nav-link"><i class="flaticon-classmates"></i><span>Packages</span></a>
                             <ul class="nav sub-group-menu">
                                <li class="nav-item">
                                    <a href="../packages-list" class="nav-link"><i class="fas fa-angle-right"></i>All Packages</a>
                                </li>
                                   <li class="nav-item">
                                    <a href="../new-package" class="nav-link"><i class="fas fa-angle-right"></i>New Package</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item sidebar-nav-item">
                            <a href="#" class="nav-link"><i class="flaticon-multiple-users-silhouette"></i><span>Profile Pic Moderation</span></a>
                            <ul class="nav sub-group-menu">
                                <li class="nav-item">
                                    <a href="../user-list.html" class="nav-link"><i class="fas fa-angle-right"></i>All Profile Pic Moderation</a>
                                </li>
                            </ul>
                        </li>
                         <li class="nav-item sidebar-nav-item">
                            <a href="#" class="nav-link"><i class="far fa-bell"></i><span>Notification </span></a>
                            <ul class="nav sub-group-menu">
                                <li class="nav-item">
                                    <a href="../notification" class="nav-link"><i class="fas fa-angle-right"></i>All Notification</a>
                                </li>
                                   <li class="nav-item">
                                    <a href="../new-category" class="nav-link"><i class="fas fa-angle-right"></i>Add New Notification</a>
                                </li>
                            </ul>
                        </li>
                         <li class="nav-item">
                            <a href="../redeem" class="nav-link"><i class="fa fa-gift"></i><span>Redemption</span></a>
                        </li>
                        <li class="nav-item sidebar-nav-item">
                            <a href="#" class="nav-link"><i class="fa fa-user" aria-hidden="true"></i><span>Panel User Interface</span></a>
                            <ul class="nav sub-group-menu">
                                <li class="nav-item">
                                    <a href="subadmin" class="nav-link"><i class="fas fa-angle-right"></i>All User</a>
                                </li>
                                 <li class="nav-item">
                                    <a href="addsubadmin" class="nav-link"><i class="fas fa-angle-right"></i>Add New User</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Sidebar Area End Here -->
            <div class="dashboard-content-one">
                <!-- Breadcubs Area Start Here -->
                <div class="breadcrumbs-area">
                    <ul>
                        <li>
                            <a href="../dashboard.html">Home</a>
                        </li>
                        <li>Edit Package</li>
                    </ul>
                </div>
                <!-- Breadcubs Area End Here -->
                <div class="dashboard-content-one">
                <!-- Add Class Area Start Here -->
                <div class="card height-auto">
                    <div class="card-body">
                        <div class="heading-layout1">
                            <div class="item-title">
                                <h3>Edit Package</h3>
                            </div>
                        </div>
                        <form class="form-submit">
                            <div class="row"  th:each="singlePackage: ${singlePackage}">
                              
                                <div class="col-xl-6 col-lg-6 col-12 form-group">
                                    <label>Country</label>
                                    <input type="text" name="country"  placeholder="Country" class="form-control"  th:value="${singlePackage.country}"/>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-12 form-group">
                                    <label>Amount</label>
                                    <input type="text" name="amount"  placeholder="Amount" class="form-control"  th:value="${singlePackage.amount}"/>
 
                                </div>
                                 <div class="col-xl-6 col-lg-6 col-12 form-group">
                                    <label>Unit</label>
                                    <input type="text" name="unit" placeholder="Unit" class="form-control" th:value="${singlePackage.unit}"/>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-12 form-group">
                                    <label>Status</label>
                                    <input type="text" name="status" placeholder="Status" class="form-control" th:value="${singlePackage.status}"/>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-12 form-group">
                                    <label>Min</label>
                                    <input type="text" name="min"  placeholder="Min" class="form-control" th:value="${singlePackage.min}"/>
                                </div><div class="col-xl-6 col-lg-6 col-12 form-group">
                                    <label>Sms</label>
                                    <input type="text" name="sms" placeholder="Sms" class="form-control" th:value="${singlePackage.sms}"/>
                                     <input type="hidden" name="package_id"  th:value="${singlePackage.id}" />
                                </div>
                                <div class="col-md-6 form-group"></div>
                                <div class="col-12 form-group mg-t-8" style="display:flex;flex-direction:row-reverse;">
                                    <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Student Table Area End Here -->
                 <footer class="footer-wrap-layout1">
                    <div class="copyright">© Copyrights <a href="#">Gossipline</a> 2020.</div>
                </footer>
            </div>
        </div>
        <!-- Page Area End Here -->
    </div>
    <div id="loader" style="display:none;">
            <svg xmlns="http://www.w3.org/2000/svg" xmlnsXlink="http://www.w3.org/1999/xlink" width="200px" height="200px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                <circle cx="50" cy="50" r="30" stroke="#2b699f" stroke-width="10" fill="none"></circle>
                <circle cx="50" cy="50" r="30" stroke="#6c757d" stroke-width="8" stroke-linecap="round" fill="none" transform="rotate(615.177 50 50)">
                    <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s" values="0 50 50;180 50 50;720 50 50" keyTimes="0;0.5;1"></animateTransform>
                    <animate attributeName="stroke-dasharray" repeatCount="indefinite" dur="1s" values="18.84955592153876 169.64600329384882;94.2477796076938 94.24777960769377;18.84955592153876 169.64600329384882" keyTimes="0;0.5;1"></animate>
                </circle>	
            </svg>
        </div>
    <!-- jquery-->
    <script src="../js/jquery-3.3.1.min.js"></script>
    <!-- Plugins js -->
    <script src="../js/plugins.js"></script>
    <!-- Popper js -->
    <script src="../js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="../js/bootstrap.min.js"></script>
    <!-- Scroll Up Js -->
    <script src="../js/jquery.scrollUp.min.js"></script>
    <!-- Data Table Js -->
    <script src="../js/jquery.dataTables.min.js"></script>
    <!-- Custom Js -->
    <script src="../js/main.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
   
    <script type="text/javascript">
    
    
    $(document).on('submit', '.form-submit', function (e) {
        e.preventDefault();
         
         var form=$(this);
    	 var formdata=new FormData($(form)[0]);
    	 var data={};
         formdata.forEach(function(value,key)
    	 {
    		  data[key]=value;
    	 }); 
    	 
         
         
         $('#loader').show();
         
         $.ajax({
    	       url:"../updatePackage",
    	       type:"POST",
    	       dataType:"json",
    	       data:data,
    	       success:function(data,textStatus,jqXHR)
    	       {
    	    	   console.log(data.status);
    	    	   if(data.status){
    	    		  
    	    		  Swal.fire({
    	    			  position: 'center',
    	    			  icon: 'success',
    	    			  title: 'Update Success',
    	    			  showConfirmButton: false,
    	    			  timer: 3500
    	    			})
    	    			$('#loader').hide();   	
    	    	  }
    	    	  else
    	    	  {
    	    		   Swal.fire({
     	    			  icon:'error',
     	    			  title:'something went wrong',
     	    			  text:"Something went Wrong",
     	    			  footer:'',
     	    			  timer:3000
     	    			}) 
     	    		   $('#loader').hide();
    	    		  
    	    	  }
    	    	  
    	      },
    	     error:function(e)
    	    {
    	    	console.log("error in pages");
    	    	  $('#loader').hide();
    	    }
      
         });
      
     });
    </script>
</body>
</html>